/* COLORS 
yellow --> #F4D04E
gray-950 --> #111111
gray-500 --> #6B6B6B
white --> #ffffff 
*/

@font-face {
    font-family: "Figtree";
    src: url("./assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Figtree";
    src: url("./assets/fonts/Figtree-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: italic;
}


* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html,body {
    height: 100%;
}

body {
    background-color: #F4D04E;
    font-family: "Figtree", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container {
    width: 384px;
    padding: 24px;
    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow:8px 7px 0px #000000;
}

.img-container {
    margin-bottom: 24px;
}

.top-img {
    display: block;
    width: 100%;
    border-radius: 10px;
}

.tags {
    margin-bottom: 12px;
}

.tag {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 4px;
    font-weight: 800;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
}

.tag--learning {
    background-color: #F4D04E;
    color: #111111;
}

.content-publish-date {
    line-height: 150%;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 500;
    color: #111111;
}

.content-heading {
    color: #111111;
    line-height: 150%;
    font-size: 24px;
    margin-bottom: 12px;
    font-weight: 800;
}

.content-heading:hover,
.content-heading:active,
.content-focus {
    cursor: pointer;
    color: #F4D04E;
}

.content-text {
    margin-bottom: 24px;
    line-height: 150%;
    font-size: 16px;
    color: #6B6B6B;
    letter-spacing: 0;
    font-weight: 500;
}

.card-footer {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer-img {
    width: 32px;
    height: 32px;
}

.card-footer span {
    color: #111111;
    font-weight: 800;
    font-size: 12px;
}



